{% extends 'dashboard/base.html' %}


{% block content %}
<div class="col-md-7 col-lg-10 mt-5 ms-4">
    <h4 class="mb-3">Add Student</h4>
    <form class="needs-validation" novalidate="" action="add-student/add" method="post">
        {% csrf_token %}
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required="required" name="firstName">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <div class="col-sm-6">
          <label for="lastName" class="form-label">Last name</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required="required" name="lastName">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <div class="col-md-3">
            <label for="title" class="form-label">Title</label>
            <select class="form-select" id="title" required="required" name="title">
              <option value="">Choose...</option>
              <option value="Mr.">Mr.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Miss">Miss</option>
              <option value="Dr.">Dr.</option>
              <option value="Engr.">Engr.</option>
              <option value="Barr.">Barr.</option>
              <option value="Prof.">Prof.</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid title.
            </div>
          </div>

        <div class="col-sm-3">
            <label for="regNumber" class="form-label">Registration Number</label>
            <input type="text" class="form-control" id="regNumber" maxlength="15" placeholder="SHARASHELL/****" value="" required="required" name="regNumber">
            <div class="invalid-feedback">
              Valid Registration is required.
            </div>
          </div>

          <div class="col-sm-3  ">
            <label for="phone" class="form-label">Telephone</label>
            <input type="tel" class="form-control" id="phone" placeholder="" value="" required="required" name="phone">
            <div class="invalid-feedback">
              Valid Registration is required.
            </div>
          </div>

          <div class="col-md-3">
            <label for="dateOfBirth" class="form-label">Date of Birth</label>
            <input class="form-control" id="" type="date" placeholder="" aria-label="" name="dateOfBirth">
            <div class="invalid-feedback">
              Please provide a valid input.
            </div>
          </div>


        <div class="col-12">
          <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
        </div>

        <div class="col-12">
          <label for="address" class="form-label">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="required" name="address">
          <div class="invalid-feedback">
            Please enter your resident address.
          </div>
        </div>

        <div class="col-md-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" id="gender" required="required" name="gender">
            <option value="">Choose...</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid gender.
          </div>
        </div>



        <div class="col-md-3">
          <label for="yearOfEntry" class="form-label">Year of Entry</label>
            <input class="form-control" id="" type="date" placeholder="" aria-label="" name="yearOfEntry">
          <div class="invalid-feedback">
            Please provide a valid input.
          </div>
        </div>


        <div class="col-md-3">
            <label for="yearOfGraduation" class="form-label">Year of Graduation</label>
            <input class="form-control" id="" type="date" placeholder="" aria-label="" name="yearOfGraduation">
            <div class="invalid-feedback">
              Please provide a valid input.
            </div>
          </div>


          <div class="col-md-3">
            <label for="level" class="form-label">Level</label>
            <select class="form-select" id="level" required="required" name="level">
              <option value="">Choose...</option>
              {% for l in level %}
              <option value="{{ l }}">{{ l }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid level.
            </div>
          </div>

          <div class="col-md-6">
            <label for="faculty" class="form-label">Faculty</label>
            <select class="form-select" id="faculty" required="required" name="faculty">
              <option value="">Choose...</option>
              {% for f in faculty %}
              <option value="{{ f }}">{{ f }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid faculty.
            </div>
          </div>

          <div class="col-md-6">
            <label for="department" class="form-label">Department</label>
            <select class="form-select" id="department" required="required" name="department">
              <option value="">Choose...</option>
              {% for d in department %}
              <option value="{{ d }}">{{ d }}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">
              Please select a valid department.
            </div>
          </div>


          

      <hr class="my-4">



      <button class=" col-5 me-5 btn btn-primary btn-lg" type="submit">Create Student</button>
      <a name="cancel" id="" class="btn btn-danger btn-lg col-2" href="add-student/cancel" role="button">Cancel</a>
      </form>

  </div>


{% endblock %}