{% extends 'dashboard/base.html' %}


{% block content %}

<div class="h2 mt-4 ">Departments in Faculty of {{faculty.facultyName}}</div>

<div class="table-container m-4">
    <table class="table sm table-hover">
    <thead>
        <tr class="h6">
            <th>Id</th>
            <th>Name</th>
            <th>Duration</th>
        <tr>
    </thead>
    <tbody>
        {% for d in dept %}
        <tr>
            <td>
                {{d.departmentId}}
            </td>
            <td>
                 {{d.departmentName}}
            </td>
            <td>
                {{d.courseDuration|add:' Years'}}
           </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>





{% endblock content %}
